/* {
    box-sizing: border-box;
  } */

body {
    padding: 0;
    margin: 0;
    background: #efe8d8;
    color: black;
    margin-left: 200px;
    font-family: "Bebas Neue", sans-serif;
}

.github {
    width: 80px;
}

.linkedin {
    width: 80px;
}

/* Style the side navigation */
.caixa-menu {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
  }
  
  /* Side navigation links */
  .caixa-menu a {
    text-align: center;
    color: #efe8d8;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .caixa-menu a:hover {
    background-color: white;
    color: black;
  }

  .photo{
    height: 25%;
    width: 100px;
  }

  